// 不常用css
// 折叠内容
    padding-right: 130px;
    margin-right: -130px;
    width: 70%;
    max-width: 300px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

//不换行
white-space: nowrap;

//背景图片按比例缩放，div按比例缩放
    height: 0;
    padding-top: 40%;
    padding-bottom: 30%;
    background-image: no-repeat;
    background-size: 100% 100%;

// safari, 解决双击滚动箭头选中有底色
.circle-right, .circle-left {
    -webkit-user-select:none;
}

// IE cursor default. 
    cursor: default;//IE
    pointer-events: none; // other browser.

// https://www.w3schools.com/cssref/css3_pr_mediaquery.asp

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }


.clearfix:after, .clearfix:before {
    content: " ";
    display: table;

.fp-core .clearfix:after {
    clear: both;
}

//穿透点击， 可以隐藏上一层的点击事件，点击到下一层

pointer-events:none;

// 固定比例布局
.highlited-contents .views-field-title{
  width:100%;
  height:0;
  padding-bottom: 56.25%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

//iframe scale distribution

.node__content h1{
    /* width: 100%;
     height: 0;
     display: block;
     text-align: center;
     padding-bottom: 54%;*/
     padding: 15.15% 0 0;
     position: relative;
 }
 
 .node__content iframe{
     position: absolute;
     width: 100%; 
     height: 100%;
     left: 0; 
     top: 0;
 }
 
 
 .node__content h1::after{
   content:'';
   display: block;
   width: 100%; 
   padding-bottom: 45%;  
 }
 