// 不常用css
// 折叠内容
    padding-right: 130px;
    margin-right: -130px;
    width: 70%;
    max-width: 300px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

//不换行
white-space: nowrap;

//背景图片按比例缩放，div按比例缩放
    height: 0;
    padding-top: 40%;
    padding-bottom: 30%;
    background-image: no-repeat;
    background-size: 100% 100%;

// safari, 解决双击滚动箭头选中有底色
.circle-right, .circle-left {
    -webkit-user-select:none;
}